body {
  margin: 0;
  padding: 0;

  background-color: black;

  height:  100vh;
  width: 100vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
	opacity: 0;
	display: none;
}

.start-screen {
  background-color: rgb(244,251,255);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-panel {
  background-color: white;
  height: 400px;
  width: 500px;
  border-radius: .5rem;
  box-shadow:0px 2px .5rem rgba(0, 0 ,0, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial,sans-serif;
  font-size: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 4rem;
  width: 500px;
  max-width: 90%;
  margin-top: 2rem;
}

input {
  width: 50%;
  border-radius: .2rem;
  border: 1px solid #b8b8b8;
  line-height: 2;
  font-size: 1.5rem;
  padding: .2rem;
  margin-bottom: 1.5rem;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 50px;
  color: #555;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background-color: #bdbdbd;
}

p {
  font-size: 15px;
}